.input-box {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.input-box.on {
    position: relative;
    z-index: 10;
    border-radius: 4px;
    border: 2px solid black;
}

.input-box.off {
    border-radius: 4px;
    border-bottom: 1px solid #b0b0b0;
}

.input-box.off.notValue {
    border-radius: 4px;
    border-bottom: 1px solid red;
}

.input-box.on.notValue {
    position: relative;
    z-index: 10;
    border: 2px solid red;
    border-radius: 4px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box.notValue label {
    color: red
}

/*  sibling celctor , khi input đc forcus thì label sẽ nổi lên trên */
.input-box input:focus~label,
.input-box input.filled~label {
    font-size: 0.7em;
    transform: translateX(-1%);
    top: 5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent !important;
    font-size: 1em;
    color: #162938;
    font-weight: 600;

    /* thêm padding để tránh bị tràn và đụng vào icon */
    padding: 2px 35px 0 10px;
}